.img {
    transition: width 0.5s;
    transition: height 0.5s;
    width: 100%;
}
.containerHero{
    padding: 24px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerHero img{
    -webkit-animation: 3s ease 0s normal forwards 1 ingressouno;
    animation: 3s ease 0s normal forwards 1 ingressouno;
}
.containerHero span{
    
    -webkit-animation: 3s ease 0s normal forwards 1 ingressodue;
    animation: 3s ease 0s normal forwards 1 ingressodue;
}

.containerHero button{
    
    -webkit-animation: 3s ease 0s normal forwards 1 ingressotre;
    animation: 3s ease 0s normal forwards 1 ingressotre;

}

@keyframes ingressouno {
   
    0% { opacity:0; translate: 0 50px; }
    
    100% { opacity:1; translate: 0 0px; }
  }
  @-webkit-keyframes ingressouno {
   
    0% { opacity:0; translate: 0 50px; }
    
    100% { opacity:1; translate: 0 0px; }
  }

  @keyframes ingressodue {
   
    0% { opacity:0; translate: 0 50px; }
    33% { opacity:0; translate: 0 50px; }
    100% { opacity:1; translate: 0 0px; }
  }
  @-webkit-keyframes ingressodue {
   
    0% { opacity:0; translate: 0 50px; }
    33% { opacity:0; translate: 0 50px; }
    100% { opacity:1; translate: 0 0px; }
  }

  @keyframes ingressotre {
   
    0% { opacity:0; translate: 0 50px; }
    66% { opacity:0; translate: 0 50px; }
    100% { opacity:1; translate: 0 0px; }
  }
  @-webkit-keyframes ingressotre {
   
    0% { opacity:0; translate: 0 50px; }
    66% { opacity:0; translate: 0 50px; }
    100% { opacity:1; translate: 0 0px; }
  }

.textDescription {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 44px auto 5px auto;
    font-family: 'Inconsolata', monospace !important; 
}
button{
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #ffab1c;
    padding: 8px 24px;
    font-weight: 900;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 10px 30px -10px #ffab1d8a;
  
}
button:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-family: "Inconsolata", monospace;
}
.container{
    margin: 40px auto;
  
}

@media (min-width: 767px) {
    .img {
        width: 680px;
    }
   
}