.walletConnectionContainer {
    width: 100%;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: #ffab1c;
    font-family: 'Inconsolata', monospace !important;

}
.totaleCapuzzelle{
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    margin-top: 2rem;
}

.walletLink:visited, .walletLink:active{

    color: black;
}
.walletLink{
    margin-top: 8px;
    color: black;
    font-family: 'Inconsolata', monospace !important; 
    font-size: 16px;
    text-decoration: underline;
}
.title {
    font-family: 'Inconsolata', monospace !important; 
    font-size: 32px;
    font-weight: 700;
}
.subtitle {
    margin-top: 8px;
    font-family: 'Inconsolata', monospace !important; 
    font-size: 16px;
}
.howMuch{
    margin-top: 20px;
    font-family: 'Inconsolata', monospace !important; 
    font-size: 32px;
    font-weight: 700;

}
.howMuchSubtitle{
    margin-top: 0px;
    font-family: 'Inconsolata', monospace !important; 
    font-size: 15px;
    
}
.button{
    background-color: black;
    font-family: 'Inconsolata', monospace !important; 
    font-size: 18px;
    color: WHITE;
    max-width: 300px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin: 25px auto 10px auto;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.info{
    margin-top: 8px;
    font-family: 'Inconsolata', monospace !important; 
    font-size: 16px;
}
.infoNoCapuzzelle{
    margin-top: 10px;
    font-family: 'Inconsolata', monospace !important; 
    font-size: 24px;
}
.containerButtons{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10px;
    
}
.buttonNoCapuzzelle{
    background: black;
    font-family: 'Inconsolata', monospace !important; 
    font-weight: 900;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: auto;
}