#root {
  background-color: #0C0B0B;
  /* max-width: 1280px; */
  margin: 0 auto;
  
  text-align: center;
}
#progettoegallery{
  
  margin-bottom: 24px;
}
#containerProgettoeGallery{
  
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
}
#crypta{
  background-image: url('/config/images/sfondo_crypta.svg');
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.show{
  display: block;
  padding: 0 24px;
}
.hide{

  visibility: hidden;
  pointer-events: none;
}
#roadmap{
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

#roadmap #social img{
  margin: 0 0 22px auto;
  max-width: 100%;
  width: 100%;
}
#roadmap #social{
  flex: 1;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
}
#roadmap #roadmapContainer{
  flex: 4;
  flex-basis: 400px;
  background-color: #242121;
  border-radius: 16px;
  padding: 32px;
  box-sizing: border-box;
  height: 100%;

}
#roadmap #roadmapContainer #description{
color: white;
  font-size: 16px;
  font-family: 'Inconsolata', monospace !important; 
  margin-bottom: 25px;
}
#roadmap #roadmapContainer #title{
  font-size: 48px;
  font-family: 'Inconsolata', monospace !important; 
  color: white;
  margin-bottom: 10px;

}
#roadmap #roadmapContainer .roadmapItem img{
  margin: auto 20px auto 10px;
}
.stroked{
  text-decoration: line-through;
}

#roadmap #roadmapContainer .roadmapItem{
  font-weight: 900;
  width: 100%;
  background: #EE6352;
  display: flex;
  height: 78px;
  align-items: center;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 8px;
}
#lecape{
  background-color: #242121;
  width: 100%;
  border-radius: 16px;
  display: flex;
  padding: 32px;
  margin-top: 24px;
  box-sizing: border-box;
  flex-direction: column;
}
#lecape #title{
  font-size: 48px;
  font-family: 'Inconsolata', monospace !important; 
  color: white;
  margin-bottom: 10px;
}
#lecape #description{
  color: white;
  font-size: 16px;
  font-family: 'Inconsolata', monospace !important; 
  margin-bottom: 25px;
}
#lecape #containerCape{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#lecape #containerCape .capa .role{
  color: white;
  font-size: 16px;
  font-family: 'Inconsolata', monospace !important; 
}
#lecape #containerCape .capa .name{
  color: white;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Inconsolata', monospace !important; 
  margin-bottom: 25px;
  margin-top: 20px;
}
#lecape #containerCape .capa .img{
  border-radius: 24px;
  overflow: hidden;
  display: flex;
}
#lecape #containerCape .capa .img img{
  max-width: 100%;
  width: 100%;
}
#lecape #containerCape .capa{
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 400px;
  justify-content: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
#faq{
  width: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (min-width:10px) and (max-width:500px){
 
  #roadmap #roadmapContainer #title{
    display: none!important;
  }
  #roadmap #roadmapContainer #description{
    display: none!important;
  }
  #roadmap #social{
    width: 100%;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  color: white;
  width: 100%;
  font-family: 'Inconsolata', monospace !important; 
  padding: 0.5rem 0;
  border-top: 1px solid white;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 300;
  list-style: none;
}

details summary:after {
  content: "+";
  font-family: 'Inconsolata', monospace !important; 
  color: white;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}
details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  text-align: left;
  font-family: 'Inconsolata', monospace !important; 
  font-size: 0.95rem;
  margin: 0 0 1rem;
  color: white;
  padding-top: 1rem;
}